<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
        <a href="/signup"><li>Sign Up</li></a>
        <a href="/login"><li>Login</li></a>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
